.registerFormContainer {
  max-width: 500px;
  margin-top: 3rem;
}

.registerForm {
  margin-top: 5rem;
  border: solid thin black;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  margin-bottom: 80%;
}

.background-regform {
  background-color: rgba(229, 199, 171, 0.6);
  color: #2d1b07;
}

.login-link {
  text-decoration: none;
  color: #2d1b07;
}

.login-link:hover {
  text-decoration: underline;
}
