.mainNav {
  background-color: rgba(82, 60, 0, 0.4);
  font-weight: 500;
  color: #e5c7ab;
}

.btn--nav {
  font-size: 15px;
  border: solid #52300c thin;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e5c7ab;
  margin-right: 5px;
  transition: all 0.1s;
}

.btn--nav span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn--nav span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn--nav:hover span {
  padding-right: 25px;
}

.btn--nav:hover span:after {
  opacity: 1;
  right: 0;
}
.btn--nav:hover {
  background-color: transparent;
  color: #e5c7ab;
  border-color: #e5c7ab;
}
.nav-link {
  color: #e5c7ab;
}
.nav-logo {
  color: #e5c7ab;
}
.nav-logo:hover {
  color: #e5c7ab;
}
.nav-logo strong {
  color: #e56f00;
}

.nav-toggle {
  /* border-color: #52300c; */
  background-color: #e5c7ab;
}

.inFront {
  z-index: 100;
}
